.logIn {
  position: relative;
  width: 100%;
  height: 100%;
  background: #040404;
}
.logIn .logInWrapper {
  position: fixed;
  height: 370px;
  width: 370px;
  background: #eaecf3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
}
.logIn .logInWrapper a:nth-child(1) {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 15px;
}
.logIn h2 {
  margin: 25px 0;
  font-size: 30px;
  text-align: center;
}
.form input {
  width: 100%;
  height: 44px;
  font-size: 16px;
  margin-bottom: 10px;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 0 8px;
}
.form button {
  display: block;
  height: 36px;
  width: 100%;
  color: #fff;
  background: #4d90fe;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-bottom: 10px;
}
.logIn .logInWrapper .form a {
  text-decoration: none;
  margin-right: 2em;
  color: #4f90fc;
}
.logIn .logInSuccess {
  display: none;
  width: 370px;
  height: 370px;
  background: #E9EBF2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15px; 
}
.logIn .logInSuccess.active{
  display: block;
}
.logIn .logInSuccess p{
  text-align: center;
  font-size: 30px;
}
$success-color: #52b46a;

* { box-sizing: border-box; }
body {
	font-size: 16px;
	line-height: 1.875em;
}
.container {
	margin: 20px auto;
	padding: 40px 0;
	max-width: 500px;
	text-align: center;
}
.icon-circle {
	display: inline-block;
	margin: 0 20px;
}


// ---------

$animation-time: 0.35s;

.icon-circle {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation: scale $animation-time cubic-bezier(0,0.5,0.2,1.5) forwards;
	
	.icon-svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		height: 50%;
		transform: translate(-50%,-50%);
	}
		
	.icon-svg-line {
		fill: none;
		stroke: #fff;
		stroke-width: 4;
		stroke-miterlimit: 10;
		stroke-dasharray: 53;
		stroke-dashoffset: 53;
		animation: dashoffset $animation-time $animation-time ease-in-out forwards;
	}
}

.icon {
	&-success {
		background-color: $success-color;
	}
}

@keyframes dashoffset {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0% { 
		transform: scale(0) 
	}
	100% {
		transform: scale(1)
	}
}